<h1>Editing Authentication Local</h1>

<%= render 'form', authentication_local: @authentication_local %>

<%= link_to 'Show', @authentication_local %> |
<%= link_to 'Back', authentication_locals_path %>
