<h1>New Authentication Local</h1>

<%= render 'form', authentication_local: @authentication_local %>

<%= link_to 'Back', authentication_locals_path %>
<%= link_to 'Use your twitter account instead' %>
<%= link_to 'Use your google account instead'%>
