<div class="p-2 card border border-dark" style="width: 17rem;">
  <img class="card-img-top" src=<%=image%> alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%=title%></h5>
    <p class="card-text"><%=description%></p>
    <a href="#" class="btn btn-dark">Learn more</a>
  </div>
</div>